body{
    background-color: black;

    margin: 0;
    padding: 0;
}

.wrapper{
    min-height: 100%;
}
.header{
    display: flex;
    background-color: #133A1B;
    background-repeat: repeat-x;
    background-position: center;

}


.header-text {
    text-align: left;
    font-size: 24px;
    width: 80%;
    justify-content: center;
    color: #DFE667;

}

.header-headline{
    text-align: right;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: #DFE667;
}


.mainbody{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-row-gap: 0;
    grid-column-gap: 5%;
}


.div2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 8;
    background-color: #7EA310;
    box-sizing: content-box;
}

.div3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 8;
    background-color: #DFE667;
    box-sizing: content-box;
}

.div4{
    grid-column-start: 3;
    grid-column-end:4;
    grid-row-start: 1;
    grid-row-end: 9;
    background-color: #7EA310;
    box-sizing: content-box;
}
.div5{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 9;
    background-color: #DFE667;
    box-sizing: content-box;

}

.div6{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 9;
    background-color: green;
    box-sizing: content-box;

}

.img_small{
    width: 100%;

}
.footer{
    background-color: #133A1B;
    display: flex;

}


.footer-text {
    color: #DFE667;
    text-align: right;
    justify-content: right;
    font-size: 8px;
}

.footer-headline{
    text-align: left;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: #DFE667;
    min-width: 40vw;
}
